.contact-container {
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
  font-family: "Inter", sans-serif;
  color: #fff;
}

.contact-header {
  text-align: center;
  margin-bottom: 50px;
}

.contact-header h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
  background: linear-gradient(270deg, #adff2f, #ffffff, #adff2f); /* #adff2f is vivid greenyellow */
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: floatTextColor 5s ease infinite;
}

@keyframes floatTextColor {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.contact-header p {
  font-size: 1.2rem;
  color: #ccc;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
}

.contact-info {
  flex: 1;
  min-width: 300px;
}

.contact-info h2, .contact-form h2 {
  font-size: 1.6rem;
  color: white;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 1.1rem;
  color: #ccc;
  margin-bottom: 15px;
}

.social-links a {
  display: inline-block;
  margin-right: 15px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.social-links a:hover {
  color: white;
}

.contact-form {
  flex: 1;
  min-width: 300px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px 16px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #111;
  color: #fff;
  font-size: 1rem;
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: white;
  box-shadow: 0 0 0 2px rgba(79, 195, 247, 0.2);
}

.contact-form button {
  background-color: white;
  color: #000;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: greenyellow;
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }
}